.department-form {

    margin-top: 15px;
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.department-form h2 {
    text-align: center;
}

.department-form .row {
    margin-top: 30px;
}

.department-form .header-form {
    display: flex;

}

.department-form .middle-form {
    display: flex;
}

.department-form label {
    display: flex;
    flex-direction: column;

    margin-bottom: 0;
}

.department-form input,
select {
    padding: 8px;
    width: 250px;
    border: none;
    border-radius: 5px;
    margin: 0 80px 20px 0px;
    font-size: 16px;
    background-color: #f3f3f3;
}

.department-form button {
    background-color: #0077cc;
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.department-form button:hover {
    background-color: #005ca3;
}


/* table */
.department-table {
    margin-top: 20px;

    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.department-table table {
    border-collapse: collapse;
    width: 100%;
}

.department-table th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.department-table th {
    background-color: #f2f2f2;
    color: #666;
}

.department-table .delete-btn {
    background-color: #f44336;
    border-radius: 5px;
    border: 1px solid #f44336;
}

.department-table .edit-btn {
    background-color: #008CBA;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #008CBA;
}